{% extends 'base/base.html' %}
{% block title %}About{% endblock title %}
{% load static %}

{% block maincontent %}




<!--Section 4 About-->
<div class="container mb-5">
<div class="row">
<div class="col-md-6">
<div class="col-12">
<img src="https://c4.wallpaperflare.com/wallpaper/97/355/812/food-india-indian-wallpaper-preview.jpg" class="img-fluid" alt="">

</div>


</div>
<div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
<div class="col-12">
<h1>We Pride ourselves On Making Real Food From The Best Ingredients.</h1>
</div>
<div class="col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, beatae quibusdam officia fugit magnam doloribus ratione adipisci, accusamus quaerat autem tempora, saepe illo reprehenderit atque.</p>
</div>
<div class="col-12">
<button class="btn  px-4  text-white" style="background-color: darkblue;">Read More</button>
</div>
</div>
</div>
</div>

<div class="container mt-5 fw-medium">
<div class="row">
<div class="col-md-6">
<div class="col-12">
<h1>We Make Everything By Hand Made With The Best Possible Ingredients.</h1>
</div>
<div class="col-12">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, beatae omnis. Numquam facilis mollitia odit culpa voluptates distinctio consequuntur modi sequi corrupti repudiandae id ab tempore voluptatibus soluta quidem, incidunt, quis nemo quod! Non adipisci praesentium voluptates corporis pariatur! Quas veritatis consectetur magnam, sunt nostrum modi ratione facilis quos optio.</p>
</div>
<div class="col-12">
<p><span><i class="fas fa-check dn"></i>
</span>Lorem ipsum dolor sit amet consectetur.</p>
<p><span><i class="fas fa-check dn"></i>
</span>Lorem ipsum dolor sit amet consectetur.</p>
<p><span><i class="fas fa-check dn"></i>
</span>Lorem ipsum dolor sit amet consectetur.</p>



</div>
<div class="col-12">
<button class="btn  px-4  text-white" style="background-color: darkblue;">Read More</button>
</div>

</div>
<div class="col-md-6">
<div class="col-12">
<div class="row">
    <div class="col-4"><img style="height: 150px;" class="img-fluid mt-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHHr6CbmGiP4HbzwCxSzlfzZpxLnc206SjBGxY7-5zODSu3pGbDfvra3r7jJBnbQj_1x4&usqp=CAU" alt=""></div>
    <div class="col-8"><img  class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-3h-723WKUYH6wRpp4LnTF5TsSlw_4gIFTKJbEo2JkYQo8dm5ho3bB7vZt1S_qp2W1EA&usqp=CAU" alt=""></div>
</div>
</div>
<div class="col-12 mt-2 mb-3">
<div class="row">
<div class="col-8"><img class="img-fluid" src="https://media.istockphoto.com/id/986641452/photo/enjoying-dinner.jpg?s=170667a&w=0&k=20&c=PxAOkqsc3BfN_2Hr4R1lf4oqbK3mdzWuXKCK09sxpyQ=" alt=""></div>
<div class="col-4"><img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj6dAmzM9XusDxsuou6QUdw0KzwggNH2VJdFo9498KLfOxgt7ir30CnbKU5L5kpY1WUKA&usqp=CAU" alt=""></div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}